# Virtual environment
Lib/
Scripts/
Include/
pyvenv.cfg

# Python bytecode
__pycache__/

# Runtime logs
logs/

# Local model card templates
model_cards/

# Installer
installer/
installer-output/
tools/
create_windows_installer_guide.txt

# Misc
.lock
*.exe
